body {
    background-color: rgb(97, 41, 41);
    color: rgb(0, 0, 1);
    text-align: center;
}

h1, h2 {
    color: rgb(0, 0, 1);
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

h2 {
    font-family: Verdana, sans-serif;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 1);
    padding: 5px;
}